<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
<div class="container">
    <img src="../assets/img/logo-horizontal.png" class=".img-responsive center-block">
    <p>BRLO Craft Beer</p>
</div>
<!-- <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
<div class="container-fluid main center">
    <div class="col-md-4 littleGuy">
        <h1>Bier</h1>
        <input id="barSing" class="icon-md-size" type="image" src="../assets/img/bar-sign.png" />
    </div>
    <div class="col-md-4 littleGuy">
        <h1>Counter</h1>
        <input id="barCounter" class="icon-md-size" type="image" src="../assets/img/tap.png" />
    </div>
    <div class="col-md-4 littleGuy">
        <h1>Recipes</h1>
        <input id="recipes" class="icon-md-size" type="image" src="../assets/img/wheat.png" />
    </div>
    <div class="col-md-4 littleGuy">
        <h1>Recipes</h1>
        <input id="barrel" class="icon-md-size" type="image" src="../assets/img/barrel.png" />
    </div>
    <div class="col-md-4 littleGuy">
        <h1>Distribute</h1>
        <input id="beerBox" class="icon-md-size" type="image" src="../assets/img/beer-box.png" />
    </div>
</div>
